<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="oj-flex-bar-start">
    <input id="inputButton" type="button" data-bind="click:goBack,
        ojComponent: {component: 'ojButton', label: 'Back', chroming: 'full'}"/>
</div>
<div class="oj-flex-bar-middle">
    <h1 class="oj-hybrid-applayout-header-title" data-bind="text: pageTitle"></h1>
</div>
<div class="oj-flex-bar-end">
    
</div>
