<div class="oj-applayout-content">
    <div class="oj-applayout-fixed-top">

      <header role="banner" class="oj-hybrid-applayout-header" data-bind="ojModule: headerConfig">
          
      </header>
    </div>      
    <div id='buttons-container'>
    
    <button id= "button"
            data-bind="click: buttonClick, 
                       ojComponent: { component: 'ojButton', 
                                   
                                   label: buttonManageMember }">
    </button>
    

    </div>   

</div>
